
.location-info {
     background-color: #f5f5f5;
     padding: 20px;
     border: 1px solid #ddd;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     text-align: center;
   }
   
   .info-item {
     font-weight: bold;
     margin: 10px 0;
   }
   
   .place-item {
     list-style: disc;
     margin-left: 20px;
   }
   .postal-code-input{
     padding: 10px;
     border-radius: 6px;
   }
   button{
     padding: 9px;
     border-radius: 8px;
     background-color: rgb(36, 179, 36);
     font-size: 15px;
     color: white;
     margin-left: 5px;
     cursor: pointer;
   }
   .info-item h2{
     font-size: 20px;
     font-weight: bold;
   }
   .info-item p{
     font-size: 20px;
     font-weight: bold;
   }